.body-2023 {
    background-color: blue;
    animation: fade-in-2023 1s;
}

@keyframes fade-in-2023 {
    from {
        background-color: black;
    }
    to {
        background-color: blue;
    }
}