:root {
    font-size: 200%;
    color: white;
    font-weight: 200;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: black;
    animation: fade-in 1s;
    margin: 0 1rem;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    font-weight: 200;
}

.external {
    color: aqua;
}

a {
    color:white;
    width: fit-content;
    padding: 10px;
    text-decoration: none;
    font-size: 1rem;
}
a:hover {
    font-style: italic;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
a:focus {
    outline: 1px solid white;
}

div {
    display: flex;
    flex-direction: column;
}

hr {
    border: 1px solid white;
    width: 100%;
}

