.sketch-29-2026 {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fade-in 2s ease forwards;
    overflow: hidden;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}