.sketch-29-2024 {
    margin: 0;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sketch-29-2024 canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}