.sketch-2-2025 {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    animation: fade-in;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
